In [1]:
# define a list of strings
names = ["Fatmata","Davida","Bob"]
names

['Fatmata', 'Davida', 'Bob']

In [2]:
# loop over the names list, and print each string one at a time
for name in names:
    print(name)

Fatmata
Davida
Bob

In [3]:
#Print the first name in the list
first_Name = names[0]
first_Name

'Fatmata'

In [4]:
#Print the first name in the list another way to do it
first_element = names[:1]
first_element

['Fatmata']

In [5]:
#Print the last item (name) in the list without knowing the length of the list 
last_element = names[-1]
last_element

'Bob'

In [6]:
#Last Item
last_item = names.pop()
last_item

'Bob'

In [7]:
new_names = ["Fatmata","Davida","Bob"]
new_names

['Fatmata', 'Davida', 'Bob']

In [8]:
#Add a name to the list 
new_names.append("Charlie")
print(new_names)

['Fatmata', 'Davida', 'Bob', 'Charlie']

In [9]:
#check if a name is in the list exists in the list
if "Bruh" in new_names:
    print("present")
else:
    print("nope")

nope

In [10]:
if "Bob" in new_names:
    print("present")

present

In [11]:
#add two lists 
more_names = ["Ian", "Jet"]
new_names = new_names + more_names
new_names

['Fatmata', 'Davida', 'Bob', 'Charlie', 'Ian', 'Jet']

In [12]:
#Sort the names
new_names.sort()
new_names

['Bob', 'Charlie', 'Davida', 'Fatmata', 'Ian', 'Jet']

In [13]:
#print a list as a string
for x in range(len(new_names)):
    print (new_names[x])

Bob
Charlie
Davida
Fatmata
Ian
Jet

In [14]:
#Two Sum Array 
array_numbers = [1,2]
print(array_numbers)
sum_array= sum (array_numbers[:1] , array_numbers[-1])
sum_array

[1, 2]

3

In [15]:
#Create an array an/d target
two_sum_array1 = [4,5]
two_sum_target1 = 9
two_sum_array2 = [3,5]
two_sum_target2 = 9
#create function that takes an array and the target value
def two_sum(arr, target):
    values = dict()
    for i , element in enumerate(arr): #maps the value in the dictionary
        comp = target - element
        if comp in values:
            return[values[comp],i]
    values[element] = i
    return []

In [16]:
#Reverse a String 

class Solution:
    def reverseString(self, s):
        s.reverse()